.container {
  width: 100%;
  height: 100vh;
  background-color: #101010;
  color: white;
  overflow: hidden;
  position: relative;
}

.blue,
.green {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(300px);
}

.blue {
  background-color: #001561;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.green {
  background-color: #194100;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
