.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  max-width: 400px;
  flex: 1;
  /* width: clamp(200px, 100%); */
}

.content h2 {
  width: max-content;
  margin-top: 10px;
  font-weight: 500;
  line-height: 0.8;
}

.content h2 span {
  color: var(--white-5);
  font-weight: 400;
}

.content p {
  width: max-content;
  font-size: 0.8rem;
  color: var(--white-5);
}

.outer {
  background-color: var(--white-2);
  width: 100%;
  overflow: hidden;
  height: 30px;
  border-radius: 3px;
}

.inner {
  height: 100%;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates p {
  color: var(--white-5);
  font-size: 0.8rem;
}
