.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  max-width: 400px;
  flex: 1;
  cursor: pointer;
  transition: box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.container:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container:hover .delete {
  clip-path: circle(100% at 100% 0);
}

.content h2 {
  width: max-content;
  margin-top: 10px;
  font-weight: 500;
  line-height: 0.8;
}

.content h2 span {
  color: var(--white-5);
  font-weight: 400;
}

.content p {
  width: max-content;
  font-size: 0.8rem;
  color: var(--white-5);
}

.outer {
  background-color: var(--white-2);
  width: 100%;
  overflow: hidden;
  height: 30px;
  border-radius: 3px;
}

.inner {
  height: 100%;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates p {
  color: var(--white-5);
  font-size: 0.8rem;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background: var(--white-3);
  transition: clip-path 0.2s;
  clip-path: circle(0% at 100% 0);
}

.icon {
  color: var(--white-5);
  font-size: 1.4rem;
  margin: 12px 15px 0 0;
  transition: color 0.2s;
}

.delete:hover .icon {
  color: var(--black-3);
}
