.container {
  width: 100%;
  height: 100vh;
  background-color: #101010;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 87%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 48%;
}

.left h1 {
  color: white;
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 600;
}

.left p {
  color: var(--white-6);
  font-size: clamp(1rem, 2vw, 1.6rem);
}

.left button {
  margin-top: 15px;
  width: max-content;
  padding: 0.8rem 1.4rem;
  background-color: var(--blue);
  color: white;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;
  cursor: pointer;
}

.left button:hover {
  background-color: #338600;
}

.right {
  width: 48%;
  z-index: 1;
}

.right img {
  width: 100%;
  height: 100%;
}

.blue,
.green {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(300px);
}

.blue {
  background-color: #001561;
  top: 0;
  transform: translate(-50%, -50%);
}

.green {
  background-color: #194100;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

@media only screen and (max-width: 730px) {
  .content {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 25px;
    padding: 0;
  }

  .left {
    max-width: initial;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .left h1 {
    font-size: 1.4rem;
  }

  .left button {
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .right {
    width: 80%;
  }
}
