.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 380px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex label {
  cursor: pointer;
  border-radius: 3px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
}

.flex input {
  display: none;
}

.label {
  color: var(--white-6);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input {
  /* width: 350px; */
  min-width: 350px;
  max-width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  transition: all 0.2s;
  outline: none;
}

.inputGroup input:hover {
  border-color: #8a8a8a;
}

.inputGroup input:focus {
  border-color: var(--black-3);
}

.inputGroup input::-webkit-outer-spin-button,
.inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cta {
  display: flex;
  gap: 15px;
  width: max-content;
  margin-left: auto;
}

.cta button {
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 3px;
}

.discard {
  background-color: transparent;
}

.discard:hover {
  background-color: var(--white-3);
}

.submit {
  background-color: var(--black-3);
  color: var(--white-1);
}

.submit:hover {
  background-color: var(--black-2);
}

.wrapper input {
  border: none;
  outline: none;
  box-shadow: none;
  min-width: initial;
  width: 100%;
  background-color: var(--black-3);
  color: var(--white-1);
}
