.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create button,
.picker button {
  padding: 0.5rem 1.2rem;
  background-color: var(--black-2);
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.create button:hover,
.picker button:hover {
  background-color: var(--black-1);
}

.content {
  display: flex;
  gap: 15px;
}

.left {
  height: max-content;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.transaction,
.transactionHeader {
  width: 100%;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  position: relative;
  overflow: hidden;
}

.delete {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.1s;
  background-color: var(--white-3);
  background: linear-gradient(90deg, var(--white-3) 0%, #d3d3d3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--white-6);
  font-size: 1.3rem;
  transition: color 0.2s;
}

.delete:hover .icon {
  color: var(--black-2);
}

.transaction:hover {
  background-color: var(--white-3);
}

.transaction:hover .delete {
  transform: translateX(0%);
}

.transactionHeader {
  /* background-color: #fafafa; */
  cursor: initial;
  color: var(--white-6);
  font-weight: 600;
}

.category {
  width: 25%;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  width: 20%;
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transactionHeader .date {
  min-width: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.desc {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.money {
  width: 10%;
  min-width: 60px;
  margin-left: auto;
  text-align: end;
  font-weight: 600;
}

.transactionHeader .money {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.transactionHeader .money:hover,
.transactionHeader .date:hover {
  color: var(--black-3);
}

@media only screen and (max-width: 1020px) {
  .content {
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
  }
  .desc {
    max-width: initial;
  }
}

@media only screen and (max-width: 770px) {
  .transaction {
    gap: 10px;
  }

  .create {
    width: 100%;
  }

  .picker {
    display: none;
  }

  .create button {
    font-size: 1rem;
    width: 100%;
  }

  .transactionHeader .desc {
    width: 35%;
  }
  .transactionHeader .money {
    width: 20%;
  }
}
